div form * {
  display: block;
  width: 80%;
  margin: 1em;
}

div #checkbox {
  vertical-align: middle; 
  position: relative; 
  bottom: 1px; 
}

div.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
